<head>
    <style>
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<!--<div>
    <a href="/notes/new">Add new note</a>
    <br>
    <br>
</div>-->

<form action="/notes/new" method="get">
    <button type="submit" >Add new note</button>
</form></td>

<div>
    <table style="width: 400px">
        <thead>
            <tr style="">
                <td>Id</td>
                <td>Message</td>
                <td>Tag</td>
                <td>Action</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {{#notes}}
                <tr>
                    <td><a href="/notes/{{id}}">{{id}}</a></td>
                    <td>{{message}}</td>
                    <td>{{tag}}</td>
                    <td>
                        <form action="/notes/{{id}}/edit"method="get">
                            <button type="submit" >Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/notes/{{id}}/delete" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {{/notes}}
        </tbody>
    </table>
</div>