<form action="/{{id}}/edit" method="post">
    Edit Note<br>
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="text" placeholder="Input text"><br>
    <input type="text" name="tag" placeholder="Tag"><br>
    <button  type="submit">Add</button>
</form>
