<head>
    <style>
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<div>
    <form method="post">
        <input type="text" name="text" placeholder="Input text">
        <input type="text" name="tag" placeholder="Tag">
        <button  type="submit">Add</button>
    </form>
</div>

<div>
    <table style="width: 200px">
        <thead>
            <tr style="">
                <td>ID</td>
                <td>MESSAGE</td>
                <td>TAG</td>
            </tr>
        </thead>
        {{#notes}}
            <tr>
                <td>{{id}}</td>
                <td>{{message}}</td>
                <td>{{tag}}</td>
            </tr>
        {{/notes}}
    </table>
</div>